body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
//body.theme-light {background-color: #ffffff; }
//.filetree-wrapper {background-color: #e8f1f9}
//.markdown-rendered h1 {color: #0098ff ;}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');
//
body {
    --dg-content-max-width: 1200px;
    --dg-sidebar-max-width: 400px;
    --dg-filetree-gap: 380px;

    --dg-content-font-size: 20px;
    --font-size-h1: 46px;
    --font-size-h2: 36px;
    --font-size-h3: 26px;
    --font-size-h4: 24px;
    --font-size-h5: 23px;
    --font-size-h6: 22px;
    --dg-toc-font-size: 18px;
    --dg-sidebar-top: 10px;
    --dg-sidebar-container-height: 100%;
    box-sizing: 0;
    
    --font-family-editor: "IM Fell DW Pica", serif;
    --font-family-preview: "IM Fell DW Pica", serif;
}
//
.toc-active {
    --text-accent: #0098ff !important;}
//
body,
    .content,
    .workspace,
    .markdown-preview-view,
    .markdown-source-view,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-family: 'IM Fell DW Pica', serif;
}
//
