body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

body {  --dg-content-max-width: 1200px;
        --dg-sidebar-max-width: 100px}

//body.theme-light {background-color: #ffffff; }
//.filetree-wrapper {background-color: #e8f1f9}
//.markdown-rendered h1 {color: #0098ff ;}

//@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');

//  --wws-font-Imfell: 'IM Fell DW Pica';

//  --h1-font: var(--wws-font-Imfell);
//  --h2-font: var(--wws-font-Imfell);
//  --h3-font: var(--wws-font-Imfell);
//  --h4-font: var(--wws-font-Imfell);
//  --h5-font: var(--wws-font-Imfell);
//  --h6-font: var(--wws-font-Imfell);
