body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

body {  --dg-content-max-width: 1200px;
        --dg-sidebar-max-width: 400px}

//body.theme-light {background-color: #ffffff; }
//.filetree-wrapper {background-color: #e8f1f9}
//.markdown-rendered h1 {color: #0098ff ;}
